@model RYLLight.Models.CompanyInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompanyInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeThree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
