@model RYLLight.Models.ProductScene

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>编辑</h2>


@using (Html.BeginForm("EditUploadFile", "ProductScenes",FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>编辑场景</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="control-label col-md-2">
                场景名称
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SceneName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SceneName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                场景描述
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.SceneDescription, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.SceneDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                场景图片（大图）
            </div>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ApplicationScenePicturePath)
                <img src=@(Model.ApplicationScenePicturePath) alt="Alternate Text" />
                <input type="file" name="file" value="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                场景图片（小图）
            </div>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ScenePicturePath)
                <img src=@(Model.ScenePicturePath) alt="Alternate Text" />
                <input type="file" name="file" value="fileOne" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>
